<template>
    <div v-if="item.type" class="search-container full-width">
        <div class="search-item"><p>{{ item.title }}</p></div>
    </div>
    <div v-else class="search-container">
        <div v-if="item.image" class="search-item">
            <img :src="item.image">
        </div>
        <div class="search-item " v-bind:class="{'center-name':item.count == null }">
            <a :href="item.show">{{ item.name }}</a>
        </div>
        <div v-if="item.count >= 0" class="search-item">
            {{ item.count }}
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: { required: true },
            searchText: { required: true }
        }
    }
</script>

<style scoped>
    .search-container {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border: 1px solid #f5f5f5;
        padding: 0px 5px;
    }
    .search-container p{
        color: #0a0a0a!important;
    }
    .search-item a{
        margin-left:0;
        font-size:14px;
    }
    .full-width, .center-name{
        display: block;
        width: 100%;
    }
    .search-item p{
        padding-bottom: 0;
        margin-bottom: 6px;
        margin-top: 16px;
        font-size: 17px;
        text-align: center;
    }
</style>