<template>
    <div>
        <v-autocomplete
                class="search"
                @blur="toggle"
                v-if="isOpen"
                :items="search"
                :get-label="getLabel"
                :component-item='template'
                :min-len="3"
                @update-items="updateSearch"
                @item-selected="test"
                :input-attrs="{placeholder: 'Поиск'}">
        </v-autocomplete>
        <button v-else @click="toggle" class="find"></button>
    </div>
</template>

<script>
    import ItemSearchTemplate from './ItemSearchTemplate'

    export default {
        data() {
            return {
                template: ItemSearchTemplate,
                isOpen: false,
                search: []
            }
        },

        methods: {
            toggle() {
                setTimeout(() => {
                    this.isOpen = !this.isOpen;
                }, 150);
            },

            getLabel() {

            },

            updateSearch(text) {
                axios.post('/api/search', {search: text})
                    .then(res => {
                        if (! res.data.data.length) {
                            this.search = [{}, {type: 'empty', title: 'ничего не найдено'}, {}]
                        } else {
                            this.search = res.data.data;
                        }

                    })
                    .catch(err => {

                    })
            },

            test(item) {
                console.log(item);
            }
        }
    }
</script>

<style scoped>
    .search {
        z-index: 9999;
        position: absolute;
        right: 122px;
        top: 27px;
        border: 1px solid #f5f5f5;
    }

</style>