<template>
    <div>
        <input type="text" v-model="search" class="search" placeholder="Введите название сообщества" style="margin-bottom: 15px;">
        <div class="following" v-if="searchFollowItems.length">
            <div class="following-item" v-for="(item, index) in searchFollowItems" :key="index">
                <button @click="deleteItem(item.id)"></button>
                <a :href="item.show"><div>{{ item.name }}</div></a>
            </div>
        </div>
        <div v-else class="following" style="column-count: 1;margin-top: 15px;">
            <p class="text-no-users">Сообщества не найдены среди Ваших подписок</p>
        </div>
        <div class="following" v-if="searchItems.length" style="margin-top: 15px;">
            <div class="following-item" v-for="(item, index) in searchItems" :key="index">
                <button @click="addItem(item.id)" style="transform: rotateZ(45deg);"></button>
                <a :href="item.show"><div>{{ item.name }}</div></a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [],

        data() {
            return {
                subsItems: [],
                items: [],
                search: ''
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            deleteItem(id) {
                axios.post('/api/communities/unsubscribe', {id})
                    .then(
                        response => {
                            this.getData();
                        }
                    )
                    .catch(error => {
                        console.log(error);
                    })
            },
            addItem(id) {
                axios.post('/api/communities/subscribe', {id})
                    .then(
                        response => {
                            if (response.status === 200) {
                                this.getData();
                            }
                        }
                    )
                    .catch(error => {
                        console.log(error);
                    })
            },
            getData() {
                axios.get('/api/communities/subscribed')
                    .then(
                        response => {
                            if (response.status === 200) {
                                this.subsItems = response.data.subs_communities;
                                this.items = response.data.communities;
                            }
                        }
                    )
                    .catch(error => {
                        console.log(error);
                    })
            }
        },
        computed: {
            searchFollowItems() {
                if (this.search.length < 1)
                    return this.subsItems;

                return this.subsItems.filter(
                    item => {
                        return item.name.indexOf(this.search) !== -1;
                    }
                )
            },
            searchItems() {
                if (this.search.length > 0) {
                    return this.items.filter(
                        item => {
                            return item.name.indexOf(this.search) !== -1;
                        }
                    )
                }
                return [];
            }
        }
    }
</script>

<style lang="sass" scoped>
    .text-no-users
        text-align: center
        font-size: 20px
        line-height: 20px
        margin-bottom: 0

    .search
        width: 100%
        -webkit-box-shadow: 0 3px 16px 0 rgba(100, 128, 164, 0.48);
        box-shadow: 0 3px 16px 0 rgba(100, 128, 164, 0.48);
        border: none
        font-size: 17px
        line-height: 40px
        padding-left: 30px
        cursor: text
    .night .search
        background: #12161d;
        color: #fff;
</style>