<template>
    <div>
        <input type="text" v-model="search" class="search" placeholder="Введите название тега" style="margin-bottom: 15px;">
        <div class="following" v-if="searchFollowTags.length">
            <div class="following-item" v-for="(tag, index) in searchFollowTags" :key="index">
                <button @click="deleteTag(tag.id)"></button>
                <a :href="tag.show"><div>{{ tag.name }}</div></a>
            </div>
        </div>
        <div v-else class="following" style="column-count: 1;margin-top: 15px;">
            <p class="text-no-users">Теги не найдены среди Ваших подписок</p>
        </div>
        <div class="following" v-if="searchTags.length" style="margin-top: 15px;">
            <div class="following-item" v-for="(tag, index) in searchTags" :key="index">
                <button @click="addTag(tag.id)" style="transform: rotateZ(45deg);"></button>
                <a :href="tag.show"><div>{{ tag.name }}</div></a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                subsTags: [],
                tags: [],
                search: ''
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            deleteTag(id) {
                axios.post('/api/tags/unsubscribe', {id})
                    .then(
                        response => {
                            if (response.data.status) {
                                this.getData();
                            }
                        }
                    )
                    .catch(error => {
                        console.log(error);
                    })
            },
            addTag(id) {
                axios.post('/api/tags/subscribe', {id})
                    .then(
                        response => {
                            if (response.status === 200) {
                                this.getData();
                            }
                        }
                    )
                    .catch(error => {
                        console.log(error);
                    })
            },
            getData() {
                axios.get('/api/tags/subscribed')
                    .then(
                        response => {
                            if (response.status === 200) {
                                this.subsTags = response.data.subs_tags;
                                this.tags = response.data.tags;
                            }
                        }
                    )
                    .catch(error => {
                        console.log(error);
                    })
            }
        },
        computed: {
            searchFollowTags() {
                if (this.search.length < 1)
                    return this.subsTags;

                return this.subsTags.filter(
                    item => {
                        return item.name.indexOf(this.search) !== -1;
                    }
                )
            },
            searchTags() {
                if (this.search.length > 0) {
                    return this.tags.filter(
                        item => {
                            return item.name.indexOf(this.search) !== -1;
                        }
                    )
                }
                return [];
            }
        }
    }
</script>

<style lang="sass" scoped>
    .text-no-users
        text-align: center
        font-size: 20px
        line-height: 20px
        margin-bottom: 0

    .search
        width: 100%
        -webkit-box-shadow: 0 3px 16px 0 rgba(100, 128, 164, 0.48);
        box-shadow: 0 3px 16px 0 rgba(100, 128, 164, 0.48);
        border: none
        font-size: 17px
        line-height: 40px
        padding-left: 30px
        cursor: text
    .night .search
        background: #12161d;
        color: #fff;
</style>