<template>
    <div class="item-detail-mark">
        <div>{{ getRating }}</div>
        <button @click.prevent="like" :disabled="isProceed" class="arrow-up"></button>
        <button @click.prevent="dislike" :disabled="isProceed" class="arrow-down"></button>
    </div>
</template>

<script>
    import Flash from '../../services/Flash'

    export default {
        props: ['id', 'commentRating'],

        data() {
            return {
                isProceed: false,
                rating: this.commentRating
            }
        },

        computed: {
            getRating() {
                return this.rating || 0
            }
        },

        methods: {
            like() {
                if (this.isProceed) return;

                this.isProceed = true;

                this.rating++;

                axios.post('/api/likes/comments/like', {id: this.id})
                    .then(res => {
                        if (!res.data.success) {
                            this.rating--;
                            this.isProceed = false;
                        }
                        this.isProceed = false;
                    })
                    .catch(err => {
                        this.rating--;
                        this.isProceed = false;
                        if (err.response.status === 401) {
                            Flash.error('Пожалуйста, войди в аккаунт или зарегистрируйтесь.')
                        }
                    })
            },

            dislike() {
                if (this.isProceed) return;

                this.isProceed = true;

                this.rating--;

                axios.post('/api/likes/comments/dislike', {id: this.id})
                    .then(res => {
                        if (!res.data.success) {
                            this.rating++;
                            this.isProceed = false;
                        }
                        this.isProceed = false;
                    })
                    .catch(err => {
                        this.rating++;
                        this.isProceed = false;
                        if (err.response.status === 401) {
                            Flash.error('Пожалуйста, войди в аккаунт или зарегистрируйтесь.')
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>