<template>
    <div v-infinite-scroll="loadMore" :infinite-scroll-disabled="isProceed" :infinite-scroll-distance="10">
        <div class="find-post-block">
            <input v-model="filter.search" class="comment" type="text" placeholder="Найти текст" style="cursor: text">
            <div>
                <button @click.prevent="getData">Поиск</button>
                <div>Общее: <span>{{ meta.total }}</span></div>
            </div>
        </div>

        <div v-if="items.length">
            <post
                    v-for="(like, index) in items"
                    :id="'post-' + index"
                    :key="like.id"
                    :data="like.post"
                    :index="index"
            ></post>
        </div>
        <div v-else class="following" style="column-count: 1;margin-top: 15px;">
            <p class="text-no-users">По данному запросы постов не найдено</p>
        </div>

    </div>
</template>

<script>
    import BaseList from '../../mixins/BaseList'

    export default {
        props: ['mode', 'apiUrl'],

        mixins: [BaseList],

        data() {
            return {
                api: this.apiUrl,
                filter: {
                    search: '',
                },
                params: {
                    mode: this.mode || 'liked'
                }
            }
        }
    }
</script>

<style scoped>

</style>