<template>
    <div style="margin-top: 15px;">
        <input type="text" v-model="search" class="search" placeholder="Введите имя сообщества">

        <div class="following" v-if="searchIgnors.length" style="margin-top: 15px;">
            <div class="following-item" v-for="ignor in searchIgnors" :key="ignor.id">
                <button @click="deleteIgnor(ignor.id)"></button>
                <!--<img :src="ignor.image" alt="photo">-->
                <a :href="ignor.show"><div style="cursor: pointer">{{ ignor.name }}</div></a>
            </div>
        </div>
        <div v-else class="following" style="column-count: 1;margin-top: 15px;">
            <p class="text-no-users">Сообщества не найдены среди Вашего игнор-листа</p>
        </div>

        <div class="following" v-if="searchItems.length" style="margin-top: 15px;">
            <div class="following-item" v-for="item in searchItems" :key="item.id">
                <button @click="createIgnor(item.id)" style="transform: rotateZ(45deg);"></button>
                <!--<img :src="user.avatar" alt="photo">-->
                <a :href="item.show"><div style="cursor: pointer">{{ item.name }}</div></a>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                ignors: [],
                items: [],
                search: ''
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            deleteIgnor(id) {
                axios.post('/api/communities/unignore', {id})
                    .then(
                        response => {
                            if (response.status === 200) {
                                this.getData();
                            }
                        }
                    )
                    .catch(error => {
                        console.log(error);
                    })
            },
            createIgnor(id) {
                axios.post('/api/communities/ignore', {id})
                    .then(
                        response => {
                            if (response.status === 200) {
                                this.getData();
                            }
                        }
                    )
                    .catch(error => {
                        console.log(error);
                    })
            },
            getData() {
                axios.get('/api/communities/ignored')
                    .then(
                        response => {
                            if (response.status === 200) {
                                this.ignors = response.data.ignored_communities;
                                this.items = response.data.communities;
                            }
                        }
                    )
                    .catch(error => {
                        console.log(error);
                    })
            }
        },
        computed: {
            searchIgnors() {
                if (this.search.length < 1)
                    return this.ignors;

                return this.ignors.filter(
                    item => {
                        return item.name.indexOf(this.search) !== -1;
                    }
                )
            },
            searchItems() {
                if (this.search.length > 0) {
                    return this.items.filter(
                        item => {
                            return item.name.indexOf(this.search) !== -1;
                        }
                    )
                }
                return [];
            }
        }
    }
</script>

<style lang="sass" scoped>
    .text-no-users
        text-align: center
        font-size: 20px
        line-height: 20px
        margin-bottom: 0

    .search
        width: 100%
        -webkit-box-shadow: 0 3px 16px 0 rgba(100, 128, 164, 0.48);
        box-shadow: 0 3px 16px 0 rgba(100, 128, 164, 0.48);
        border: none
        font-size: 17px
        line-height: 40px
        padding-left: 30px
        cursor: text
    .night .search
        background: #12161d;
        color: #fff;
</style>