@import "~noty/src/noty.scss";
@import "~noty/src/themes/sunset.scss";

.download-comment {
  font: 400 15px/40px "Bliss Pro", sans-serif;
  color: #4b5b71;
  background: transparent;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px !important;

  &:before {
    content: '';
    width: 10px;
    height: 20px;
    margin-right: 16px;
    background: url(/image/download.svg) transparent no-repeat center center;
  }

  &:after {
    content: '';
    display: block;
    border-right: 1px solid #dfe5ed;
    height: 24px;
    padding-left: 0;
    padding-right: 8px;
  }
}

.del-comment {
  font: 400 15px/40px "Bliss Pro", sans-serif;
  color: #4b5b71;
  background: transparent;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px !important;
  margin-top: -8px;
  margin-left: -17px;

  &:after {
    content: '';
    display: block;
    border-right: 1px solid #dfe5ed;
    height: 24px;
    padding-left: 0;
    padding-right: 10px;
  }
}
