<template>
    <div>
        <div class="find-post-block">
            <input v-model="filter.search" class="comment" type="text" placeholder="Поиск" style="cursor: text">
            <div>
                <button @click.prevent="applyFilter">Поиск</button>
            </div>
        </div>
        <div class="post-block">
            <div class="create-form-element">
                <label>Тэги</label>
                <v-autocomplete
                        v-model="filter.tag"
                        :items="tags"
                        :get-label="getLabel"
                        :component-item='template'
                        :auto-select-one-item="false"
                        :min-len="3"
                        @item-selected="applyFilter"
                        @update-items="updateTags">
                </v-autocomplete>
            </div>
            <div class="create-form-element">
                <label>Рейтинг Поста</label>
                <vue-slider
                        @drag-end="applyFilter"
                        :formatter="v => `от ${v}`"
                        :width="'40%'"
                        :tooltip="'hover'"
                        :data="data"
                        v-model="filter.rating"
                ></vue-slider>
            </div>
        </div>

    </div>
</template>

<script>
    import itemTemplate from '../ItemTemplate'
    import vueSlider from 'vue-slider-component'

    export default {
        components: {vueSlider},

        data() {
            return {
                filter: {
                    search: '',
                    tag: null,
                    rating: ''
                },
                tags: [],
                template: itemTemplate,
                data: ['', -100, 0, 25, 100, 250, 500, 1000, 2500, 5000, 10000]
            }
        },

        methods: {
            applyFilter() {
                this.$parent.$emit('updateFilter', this.filter);
            },

            getLabel(item) {
                if (item) return item.name
            },

            updateTags(text) {
                axios.post('/api/tags/search', {search: text})
                    .then(res => {
                        this.tags = res.data.data;
                    })
            }
        }
    }
</script>

<style scoped>

</style>