<template>
    <div>
        <button class="btn btn-secondary" v-if="isSubscribed" @click.prevent="unsubscribe">отписаться</button>
        <button class="btn btn-secondary" v-else @click.prevent="subscribe">подписаться</button>
    </div>
</template>

<script>
    import Flash from "../../services/Flash";

    export default {
        props: ['id', 'subscribed'],

        data() {
            return {
                isSubscribed: false,
            }
        },

        created() {
            this.isSubscribed = this.subscribed;
        },

        methods: {
            subscribe() {
                axios.post('/api/communities/subscribe', {id: this.id})
                    .then(res => {
                        this.isSubscribed = true;
                        Flash.success('Вы оформили подписку на сообщество.')
                    })
            },

            unsubscribe() {
                axios.post('/api/communities/unsubscribe', {id: this.id})
                    .then(res => {
                        this.isSubscribed = false;
                        Flash.success('Вы отменили подписку на сообщество.')
                    })
            }
        }
    }
</script>

<style scoped>

</style>