<template>
    <div>
        <div class="find-post-block">
            <input v-model="filter.search" class="comment" type="text" placeholder="Поиск" style="cursor: text">
            <div>
                <button @click.prevent="applyFilter">Поиск</button>
            </div>
        </div>
        <div class="post-block">
            <div class="create-form-element">
                <label>Тэги</label>
                <v-autocomplete
                        :items="tags"
                        :get-label="getLabel"
                        :component-item='template'
                        :min-len="3"
                        :auto-select-one-item="false"
                        @item-clicked="addTag"
                        @item-selected="applyFilter"
                        @update-items="updateTags">
                </v-autocomplete>
            </div>
            <div v-if="filter.tags.length" class="container-content-heshtag">
                <div v-for="(tag, index) in filter.tags" :key="index">
                    <a @click.prevent="deleteTag(index)" style="text-decoration: none">{{ tag.name }}</a>
                </div>
            </div>
            <div class="create-form-element">
                <label>Рейтинг Поста</label>
                <vue-slider
                        @drag-end="applyFilter"
                        :formatter="v => `от ${v}`"
                        :width="'40%'"
                        :tooltip="'hover'"
                        :data="data"
                        v-model="filter.rating"
                ></vue-slider>
            </div>
            <div class="create-form-element">
                <label>Автор</label>
                <v-autocomplete
                        v-model="filter.user"
                        :items="users"
                        :get-label="getLabel"
                        :component-item='template'
                        :min-len="3"
                        @item-selected="applyFilter"
                        @update-items="updateUsers">
                </v-autocomplete>
            </div>
            <div class="create-form-element">
                <label>Сообщество</label>
                <v-autocomplete
                        v-model="filter.community"
                        :items="communities"
                        :get-label="getLabel"
                        :component-item='template'
                        :min-len="3"
                        @item-selected="applyFilter"
                        @update-items="updateCommunities">
                </v-autocomplete>
            </div>
        </div>

    </div>
</template>

<script>
    import itemTemplate from '../ItemTemplate'
    import vueSlider from 'vue-slider-component'

    export default {
        components: {vueSlider},

        data() {
            return {
                filter: {
                    search: '',
                    tags: [],
                    user: null,
                    community: null,
                    rating: ''
                },
                tags: [],
                users: [],
                communities: [],
                template: itemTemplate,
                data: ['', -100, 0, 25, 100, 250, 500, 1000, 2500, 5000, 10000]
            }
        },

        methods: {
            applyFilter() {
                this.$parent.$emit('updateFilter', this.filter)
            },

            getLabel(item) {
                if (item) return item.name
            },

            updateTags(text) {
                axios.post('/api/tags/search', {search: text})
                    .then(res => {
                        this.tags = res.data.data;
                    })
            },

            updateUsers(text) {
                axios.post('/users/search', {search: text})
                    .then(res => {
                        this.users = res.data.data;
                    })
            },

            updateCommunities(text) {
                axios.post('/api/communities/search', {search: text})
                    .then(res => {
                        this.communities = res.data.data;
                    })
            },

            addTag(item) {
                if (this.filter.tags.some((v) => {
                    return item.id === v.id
                })) {
                    return;
                }
                this.filter.tags.push(item);
            },

            deleteTag(index) {
                this.filter.tags = this.filter.tags.filter((v, k) => {
                    return k !== index;
                });

                this.applyFilter();
            }
        }
    }
</script>

<style scoped>

</style>