<template>
    <div class="find-post-block">
        <input v-model="search" class="comment" type="text" placeholder="Поиск" style="cursor: text">
        <div>
            <button @click.prevent="getSearch">Поиск</button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                search: ''
            }
        },

        methods: {
            getSearch() {
                axios.post('/tags/search', {search: this.search})
                    .then(res => {
                        document.getElementById('tags-list').innerHTML = res.data;
                    })
            }
        }
    }
</script>

<style scoped>

</style>