<template>
    <div class="post-block-item" v-if="!deleted">
        <hr>
        <div class="item-detail">
            <div class="item-line">
                <button v-if="isCollapsed" @click="toggleCollapse" class="sub-btn plus-btn">
                    <i>+</i>
                </button>
                <button v-else @click="toggleCollapse" class="sub-btn">
                    <i>-</i>
                </button>
                <span class="timeline"></span>
            </div>
            <comment-like :id="comment.id" :commentRating="comment.rating"></comment-like>

            <comment-save :id="comment.id" :saved="comment.saveable"></comment-save>

            <div class="item-detail-name">
                <a :href="comment.user.show">{{ comment.user.name }} <span>{{ comment.ago }}</span></a>
            </div>
        </div>
        <hr>
        <div class="item-text" id="comment_text" v-html="comment.text"></div>
        <div class="item-text">
            <img v-if="comment.image" :src="comment.image"/>
        </div>
        <div>
            <button v-if="comment.replyable && comment.commentable" class="item-btn-answer" @click.prevent="showReplyForm">Ответить</button>
            <button v-if="comment.editable" class="item-btn-answer" @click.prevent="showReplyForm(comment)">
                Редактировать
            </button>
            <button v-if="comment.deletable" class="item-btn-answer" @click.prevent="deleteComment">
                Удалить
            </button>
        </div>
        <div class="answer-footer" v-if="isReply">
            <div class="text-container">
                <vue-editor
                        class="text-editor"
                        :editorToolbar="customToolbar"
                        v-model="reply.text"
                        placeholder="Введите текст"
                />
            </div>
            <div v-if="img" style="padding-bottom: 10px;position: relative">
                <button class="img-del" @click="removePreview">x</button>
                <img :src="img"/>
            </div>
            <div>
                <div class="personal-add-post">
                    <button v-if="comment.editable" @click.prevent="updateComment">Редактировать</button>
                    <button v-else @click.prevent="replyComment">Отправить</button>
                </div>
                <button @click="addImage" class="attached"></button>
                <input v-show="false" id="uploadImage" type="file" @change.prevent="getPreview"/>
            </div>
        </div>

        <comment
                v-show="!isCollapsed"
                class="sub"
                v-for="child in getChilds"
                :key="child.id"
                :comment="child"
                :sort="sort"
        ></comment>
    </div>
</template>

<script>
    import commentLike from '../likes/CommentLike'
    import commentSave from '../saves/CommentSave'
    import comment from './Comment'
    import Flash from '../../services/Flash'
    import {EventBus} from "../../services/EventBus"
    import {VueEditor} from "vue2-editor"

    export default {
        props: ['comment', 'sort'],

        components: {commentSave, commentLike, comment},

        data() {
            return {
                customToolbar: ['bold', 'italic', 'underline', 'strike'],
                deleted: false,
                isReply: false,
                childs: this.comment.childs,
                img: '',
                isCollapsed: false,
                reply: {
                    text: '',
                    image: '',
                    parent_id: this.comment.id,
                    post_id: this.comment.post_id
                }
            }
        },

        computed: {
            getChilds() {
                return this.childs = _.orderBy(this.childs, [this.sort], 'desc');
            }
        },

        methods: {
            replyComment() {
                let data = new FormData();

                data.append('image', this.reply.image);
                data.append('text', this.reply.text);
                data.append('parent_id', this.reply.parent_id);
                data.append('post_id', this.reply.post_id);

                axios.post('/api/comments', data)
                    .then(res => {
                        this.isReply = false;
                        this.childs.push(res.data.data);
                        EventBus.$emit('commentAdded');
                        Flash.success('Комментарий добавлен');
                    })
                    .catch(err => {
                        Flash.error('Ошибка добавления комментария');
                    });
            },

            updateComment() {
                let data = new FormData();

                data.append('text', this.reply.text);
                data.append('image', this.reply.image);
                data.append('_method', 'PUT');

                axios.post('/api/comments/' + this.comment.id, data)
                    .then(res => {
                        this.isReply = false;
                        this.comment.text = res.data.data.text;
                        this.comment.image = res.data.data.image;

                        if (!res.data.data.image) {
                            this.reply.image = '';
                            this.img = '';
                        }

                        Flash.success('Комментарий обновлен');
                    })
                    .catch(err => {
                        Flash.error('Ошибка обновления комментария');
                    });
            },

            deleteComment() {
                this.deleted = true;

                axios.delete('/api/comments/' + this.comment.id)
                    .then(res => {
                        Flash.success('Комментарий удален');
                    })
                    .catch(err => {
                        this.deleted = false;
                        Flash.error('Ошибка удаления комментария');
                    });

            },

            showReplyForm(comment = null) {
                if (comment && !this.isReply) {
                    this.loadPreview(comment.image);
                }

                this.reply.text = comment ? comment.text : '';
                this.reply.image = comment ? comment.image : '';
                this.isReply = !this.isReply;

                this.$nextTick(() => {
                    $('.ql-editor').css('min-height', 0);
                });
            },

            addImage() {
                document.getElementById('uploadImage').click();
            },

            getPreview(e) {
                let data = new FormData();

                data.append('image', e.target.files[0]);
                this.reply.image = e.target.files[0];

                axios.post('/api/comments/image-preview', data)
                    .then(res => {
                        e.target.value = null;
                        this.img = res.data.encoded;
                    })
                    .catch(err => {
                        console.log(err.response)
                    })
            },

            removePreview() {
                this.img = '';
                this.reply.image = '';
            },

            loadPreview(image) {
                axios.post('/api/comments/image-preview', {image: image})
                    .then(res => {
                        this.img = res.data.encoded;
                    })
                    .catch(err => {
                        console.log(err.response)
                    })
            },

            toggleCollapse() {
                this.isCollapsed = !this.isCollapsed;
            }
        }
    }
</script>

<style scoped>
    .sub {
        width: 90%;
        float: right;
    }

    .img-del {
        position: absolute;
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        left: 9%;
        top: -9%;
    }
    .item-line .sub-btn{
        position: relative;
        width: 15px;
        height: 15px;
        background: #fff;
        border: 1px solid #cacaca;
        margin-right: 10px;
    }
    .item-line .plus-btn {
        background: #ffc107;
        color: #fff;
        border: 1px solid #ffc107;
    }
    .item-line .sub-btn i{
        position: absolute;
        left: 50%;
        top: 39%;
        transform: translate(-50%, -50%);
    }
    .item-detail-name span{
        font-size: 14px;
    }
    .text-editor {
        border: 2px solid #a1b3cc;
        width: 100%;
    }
    .text-container {
        padding-bottom: 5px;
        padding-top: 30px;
    }
    @media(max-width: 496px){

        .item-detail-name span{
            font-size: 11px;
            margin-left: 0;
            display: block;
        }
    }
</style>