<template>
    <div class="find-post-block">
        <input :value="value" @input="$emit('input', $event.target.value)" class="comment" type="text"
               placeholder="Текст комментария">
        <div>
            <button @click.prevent="getSearch">Поиск</button>
            <!--<select v-if="mode === 'answer'" class="sort-by">-->
                <!--<option class="sort-btn" value="user">От выбранного пользователя</option>-->
                <!--<option class="sort-btn" value="all">От выбранного пользователя</option>-->
            <!--</select>-->
        </div>
    </div>
</template>

<script>
    export default {
        props: ['mode', 'value'],

        data() {
            return {}
        },

        methods: {
            getSearch() {
                this.$emit('update');
            }
        }
    }
</script>

<style scoped>

</style>