<template>
    <div>
        <comment-filter
                mode="user"
                v-model="filter.search"
                @update="getData"
        ></comment-filter>

        <div v-if="items.length" v-infinite-scroll="loadMore" :infinite-scroll-disabled="isProceed" :infinite-scroll-distance="10">
            <answer :data="comment" :key="comment.id" v-for="comment in items" style="margin-top: 15px"></answer>
        </div>
        <div v-else class="post-block" style="margin-top: 15px">
            <p style="text-align: center;margin-bottom: 0;font-size: 21px">
                По данному запросу ничего не найдено.
            </p>
        </div>
    </div>
</template>

<script>
    import commentFilter from '../comments/CommentFilter'
    import answer from '../answers/Answer';
    import BaseList from '../../mixins/BaseList'

    export default {
        props: ['mode', 'apiUrl', 'sort'],

        mixins: [BaseList],

        components: {answer, commentFilter},

        data() {
            return {
                api: this.apiUrl,
                filter: {
                    search: '',
                },
                params: {
                    sort: this.sort || 'date'
                }
            }
        }
    }
</script>

<style scoped>

</style>