<template>
    <div class="post-block" v-if="!deleted">
        <div class="post-block-item">
            <h6>{{ comment.post.title }}</h6>
            <hr>
            <div class="item-detail">

                <comment-like :id="comment.id" :commentRating="comment.rating"></comment-like>

                <div class="item-detail-name">
                    <div class="answer-name">{{ comment.user.name }}</div> <br><span>{{ comment.ago }}</span>
                </div>
            </div>
            <hr>
            <div class="item-text" v-html="comment.text"></div>
            <div>
                <button v-if="comment.replyable" class="item-btn-answer" @click.prevent="showReplyForm">Ответить
                </button>
                <button v-if="comment.editable" class="item-btn-answer" @click.prevent="showReplyForm(comment)">
                    Редактировать
                </button>
                <button v-if="comment.deletable" class="item-btn-answer" @click.prevent="deleteComment">
                    Удалить
                </button>
            </div>

            <div class="answer-footer" v-if="isReply">
                <div>
                    <vue-editor
                            class="text-editor"
                            :editorToolbar="customToolbar"
                            v-model="reply.text"
                            placeholder="Введите текст"
                    />
                </div>
                <div>
                    <div class="personal-add-post">
                        <button v-if="comment.editable" @click.prevent="updateComment">Редактировать</button>
                        <button v-else @click.prevent="replyComment">Отправить</button>
                    </div>
                    <button class="attached"></button>
                </div>
            </div>
        </div>

        <div class="item-line collapsed">
            <div v-if="!isCollapsed">
                <button @click="toggleCollapse" class="sub-btn">
                    <i>-</i>
                </button>
                <p class="hide-part">Скрыть ответы</p>
            </div>
            <div v-else>
                <button @click="toggleCollapse" class="sub-btn plus-btn">
                    <i>+</i>
                </button>
                <p class="show-part">Показать ответы</p>
            </div>

            <span class="timeline"></span>
        </div>

        <subanswer v-show="!isCollapsed" :data="item" :key="item.id" v-for="item in comment.child"></subanswer>

    </div>
</template>

<script>
    import subanswer from './Subanswer'
    import Flash from '../../services/Flash'
    import {VueEditor} from "vue2-editor"

    export default {
        props: ['data'],

        components: {subanswer},

        data() {
            return {
                customToolbar: ['bold', 'italic', 'underline', 'strike'],
                deleted: false,
                comment: this.data,
                isReply: false,
                isCollapsed: false,
                reply: {
                    text: '',
                    post_id: this.data.post.id,
                    parent_id: this.data.id
                },
            }
        },

        computed: {
            getAnswers() {
                return this.comment
            }
        },

        methods: {
            replyComment() {
                if (this.isProceed) return;

                this.isProceed = true;

                axios.post('/api/comments', this.reply)
                    .then(res => {
                        this.isProceed = false;
                        this.isReply = false;
                        this.reply.text = '';
                        this.comment.child.push(res.data.data);
                        Flash.success('Комментарий добавлен');
                    })
                    .catch(err => {
                        this.isProceed = false;
                        this.isReply = false;
                        this.reply.text = '';
                        Flash.error('Ошибка добавления комментария');
                    })
            },

            updateComment() {
                axios.put('/api/comments/' + this.comment.id, {text: this.reply.text})
                    .then(res => {
                        this.isReply = false;
                        this.comment.text = this.reply.text;
                        Flash.success('Комментарий обновлен');
                    })
                    .catch(err => {
                        Flash.error('Ошибка обновления комментария');
                    });
            },

            deleteComment() {
                this.deleted = true;

                axios.delete('/api/comments/' + this.comment.id)
                    .then(res => {
                        Flash.success('Комментарий удален');
                    })
                    .catch(err => {
                        this.deleted = false;
                        Flash.error('Ошибка удаления комментария');
                    });

            },

            showReplyForm(comment = null) {
                this.reply.text = comment ? comment.text : '';
                this.isReply = !this.isReply;

                this.$nextTick(() => {
                    $('.ql-editor').css('min-height', 0);
                });
            },

            toggleCollapse() {
                this.isCollapsed = !this.isCollapsed;
            }
        }
    }
</script>

<style scoped>
    .sub-btn{
        position: relative;
        width: 15px;
        height: 15px;
        background: #fff;
        border: 1px solid #cacaca;
        margin-right: 0px;
    }
    .sub-btn i{
        position: absolute;
        left: 50%;
        top: 39%;
        transform: translate(-50%, -50%);
    }
    .hide-part, .show-part{
        display: inline-block;
        font-size: 13px;
    }
    .plus-btn{
        background: #ffc107;
        color: #fff;
        border: 1px solid #ffc107;
    }
    .sub-post-block-item{
        padding-left: 80px;
    }
    .text-editor {
        border: 2px solid #a1b3cc;
        width: 100%;
    }
</style>