<template>
    <div class="sub-post-block-item">
        <div class="post-block-item">
            <hr>
            <div class="item-detail">

                <comment-like :id="answer.id" :commentRating="answer.rating"></comment-like>

                <div class="item-detail-name">
                    <div class="answer-name">{{ answer.user.name }}</div> <br><span>{{ answer.ago }}</span>
                </div>
            </div>
            <hr>
            <div class="item-text" v-html="answer.text"></div>

            <div>
                <button v-if="answer.replyable" class="item-btn-answer" @click.prevent="showReplyForm">Ответить
                </button>
            </div>

            <div class="answer-footer" v-if="isReply">
                <div>
                    <vue-editor
                            class="text-editor"
                            :editorToolbar="customToolbar"
                            v-model="reply.text"
                            placeholder="Введите текст"
                    />
                </div>
                <div>
                    <div class="personal-add-post">
                        <button @click.prevent="replyComment">Отправить</button>
                    </div>
                    <button class="attached"></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Flash from '../../services/Flash'
    import {VueEditor} from "vue2-editor"

    export default {
        props: ['data'],

        data() {
            return {
                customToolbar: ['bold', 'italic', 'underline', 'strike'],
                answer: this.data,
                isReply: false,
                reply: {
                    text: '',
                    post_id: this.data.post_id,
                    parent_id: this.data.id
                },
            }
        },

        methods: {
            replyComment() {
                if (this.isProceed) return;

                this.isProceed = true;

                axios.post('/api/comments', this.reply)
                    .then(res => {
                        this.isProceed = false;
                        this.isReply = false;
                        this.reply.text = '';
                        Flash.success('Комментарий добавлен');
                    })
                    .catch(err => {
                        this.isProceed = false;
                        this.isReply = false;
                        this.reply.text = '';
                        Flash.error('Ошибка добавления комментария');
                    })
            },

            showReplyForm() {
                this.reply.text = '';
                this.isReply = !this.isReply;

                this.$nextTick(() => {
                    $('.ql-editor').css('min-height', 0);
                });
            }
        }
    }
</script>

<style scoped>
    .text-editor {
        border: 2px solid #a1b3cc;
        width: 100%;
    }
</style>