<template>
    <div class="container">
        <div class="row">
            <div class="auth-box">
                <component :is="currentComponent" @componentChanged="change"></component>
            </div>
        </div>
    </div>
</template>

<script>
    import login from './Login'
    import register from './Register'
    import forgot from './Forgot'

    export default {


        data() {
            return {
                component: 'login'
            }
        },

        created(){

        },

        computed: {
            currentComponent() {
                return this.component; //todo Component system
            }
        },

        methods:{
            change(name){

                this.component = name;
            }
        }
    }
</script>

<style scoped>
    .auth-box{
        width: 100%;
        height: auto;
        background: #fff;
        margin-bottom: 22px;
        margin-top: 15px;
        padding: 17px 23px 28px;
        box-shadow: 0px 1px 6px 4px rgba(0,0,0,.2);
    }
</style>