<template>
    <div class="log-box">
        <h4>Сбросить пароль</h4>
        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" v-model="form.email" placeholder="Ваш E-mail">
                <small class="danger-error" v-if="errors.email">{{errors.email[0]}}</small>
            </div>
            <div class="button-login">
                <button type="button" :disabled="isProceed || !valid" :class="{'active-btn': !valid}" @click="submit">
                    Сбросить пароль
                </button>
            </div>
            <div class="button-login">
                <button @click.prev="showComponent('login')" type="button">Авторизоватся</button>
            </div>
        </form>
    </div>
</template>

<script>
    import Flash from '../../services/Flash'

    export default {
        data() {
            return {
                form: {
                    email: ''
                },
                errors: {},
                isProceed: false
            }
        },

        computed: {
            valid() {
                let valid = true;

                Object.values(this.form).forEach((v) => {
                    if (!v.length) {
                        valid = false;
                    }
                });

                return valid;
            }
        },

        methods: {
            showComponent(name) {
                this.$emit('componentChanged', name)
            },

            submit() {
                this.errors = {};
                this.isProceed = true;

                axios.post('/api/auth/password/email', this.form)
                    .then(res => {
                        if (res.data.success) {
                            this.form.email = '';
                            Flash.success('Мы отправили вам инструкция для восстановления пароля на вашу почту.');
                        }
                        this.isProceed = false
                    })
                    .catch(err => {
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;
                        }
                        this.isProceed = false
                    })
            }
        }
    }
</script>

<style scoped>
    .button-login, .button-register {
        text-align: center;
    }

    .button-login button, .button-register button {
        background: rgb(255, 165, 0);
        border: 1px solid rgb(255, 165, 0);
        color: #fff;
        padding: 5px 20px;
        margin-bottom: 6px;
        width: 100%;
        border-radius: 3px;
    }

    .button-login button:hover, .button-register button:hover {
        background: rgb(255, 165, 0, 0.8);
    }

    .log-box h4 {
        margin-bottom: 20px;
    }

    .alert-forgot {
        display: block;
        line-height: 20px;
        padding: 4px 10px;
    }

    .danger-error {
        font-size: 12px;
        display: block;
        line-height: 16px;
        color: red;
        padding-left: 3px;
    }
</style>