<template>
    <div class="log-box">
        <h4>Авторизация</h4>
        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" v-model="form.email" placeholder="Логин">
                <small class="danger-error" v-if="errors.email">{{errors.email[0]}}</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" v-model="form.password" placeholder="Пароль">
                <small class="danger-error" v-if="errors.password">{{errors.password[0]}}</small>
            </div>
            <div class="form-group">
                <a href="#" class="forgot-pwd" @click.prev="showComponent('forgot')">Забыли пароль?</a>
            </div>

            <div class="button-login">
                <button type="button" :disabled="isProceed || !valid" @click="submit" :class="{ 'active-btn' : !valid}">
                    Войти
                </button>
            </div>
            <div class="button-register">
                <button @click="showComponent('register')" type="button">Регистрация</button>
            </div>
        </form>
    </div>
</template>

<script>
    import Flash from '../../services/Flash'
    export default {
        data() {
            return {
                form: {
                    email: '',
                    password: '',
                },
                errors: {},
                isProceed: false
            }
        },

        computed: {
            valid() {
                let valid = true;

                Object.values(this.form).forEach((v) => {
                    if (!v.length) {
                        valid = false;
                    }
                });

                return valid;
            }
        },
        methods: {
            showComponent(name) {
                this.$emit('componentChanged', name);
            },

            submit() {
                this.errors = {};
                this.isProceed = true;

                axios.post('/api/auth/login', this.form).then(res => {
                    if (res.data.success) {
                        location.reload()
                    } else {
                        Flash.error('Неправильный Email или Пароль');
                    }
                    this.isProceed = false;
                }).catch(err => {
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    this.isProceed = false;
                })
            }
        }
    }
</script>

<style scoped>
    .button-login, .button-register {
        text-align: center;
    }

    .button-login button, .button-register button {
        background: rgb(255, 165, 0);
        border: 1px solid rgb(255, 165, 0);
        color: #fff;
        padding: 6px 20px;
        margin-bottom: 6px;
        width: 100%;
        border-radius: 3px;
    }

    .button-register button:hover {
        background: rgb(255, 165, 0, 0.8);
    }

    .button-login .active-btn {
        background: rgb(255, 165, 0, 0.6);
        border: 1px solid rgb(255, 165, 0, 0.6);
        cursor: default;
    }

    .danger-error {
        font-size: 12px;
        display: block;
        line-height: 16px;
        color: red;
        padding-left: 3px;
    }

    .forgot-pwd {
        color: rgb(43, 49, 57);
        padding-left: 3px;
    }

    .log-box h4 {
        margin-bottom: 20px;
    }


</style>