<template>
    <div class="log-box">
        <h4>Регистрация</h4>
        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" v-model="form.name" placeholder="Имя">
                <small class="danger-error" v-if="errors.name">{{errors.name[0]}}</small>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" v-model="form.email" placeholder="E-mail">
                <small class="danger-error" v-if="errors.email">{{errors.email[0]}}</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" v-model="form.password" placeholder="Пароль">
                <small class="danger-error" v-if="errors.password">{{errors.password[0]}}</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" v-model="form.password_confirmation"
                       placeholder="Повторить пароль">
                <small class="danger-error" v-if="errors.password_confirmation">{{errors.password_confirmation[0]}}
                </small>
            </div>
            <div class="button-register">
                <button type="button" :disabled="isProceed || !valid" :class="{'active-btn': !valid}" @click="submit">
                    Создать аккаунт
                </button>
            </div>
            <div class="button-login">
                <button @click="showComponent('login')" type="button">Авторизация</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                },
                errors: {},
                isProceed: false
            }
        },

        computed: {
            valid() {
                let valid = true;

                Object.values(this.form).forEach((v) => {
                    if (!v.length) {
                        valid = false;
                    }
                });

                return valid;
            }
        },

        methods: {
            showComponent() {
                this.$emit('componentChanged', 'login');
            },

            submit() {
                this.errors = {};
                this.isProceed = true;

                axios.post('/api/auth/register', this.form).then(res => {
                    if (res.data.success) {
                        location.reload()
                    }
                    this.isProceed = false;
                }).catch(err => {
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    this.isProceed = false;
                })
            }
        }
    }
</script>

<style scoped>
    .button-login, .button-register {
        text-align: center;
    }

    .button-login button, .button-register button {
        background: rgb(255, 165, 0);
        border: 1px solid rgb(255, 165, 0);
        color: #fff;
        padding: 6px 20px;
        margin-bottom: 6px;
        width: 100%;
        border-radius: 3px;
    }

    .button-login button:hover {
        background: rgb(255, 165, 0, 0.8);
    }

    .button-register .active-btn {
        background: rgb(255, 165, 0, 0.6);
        border: 1px solid rgb(255, 165, 0, 0.6);
        cursor: default;
    }

    .danger-error {
        font-size: 12px;
        display: block;
        line-height: 16px;
        color: red;
        padding-left: 3px;
    }

    .log-box h4 {
        margin-bottom: 20px;
    }
</style>