<template>
    <div class="create-form-element" style="margin-top: 15px;">
        <input @blur="sendNote" v-model="note.text" placeholder="Введите заметку " type="text">
    </div>
</template>

<script>
    import Flash from "../../services/Flash";

    export default {
        props: ['id'],

        data() {
            return {
                note: {
                    text: '',
                    id: this.id
                }
            }
        },

        created() {
            this.getNote();
        },

        methods: {
            sendNote() {
                axios.post('/api/notes/add', this.note)
                    .then(res => {
                        if (res.success) {
                            Flash.success('Заметка добавлена.')
                        }
                    })
                    .catch(err => {
                        Flash.error('Ошибка добавления заметки.')
                    })
            },

            getNote() {
                axios.get('/api/notes/' + this.id)
                    .then(res => {
                        this.note.text = res.data.data.text;
                    })
            }
        }
    }
</script>

<style scoped>

</style>