<template>
    <div class="container-content settings-conteiner">
        <div class="settings-title">Лента</div>
        <div class="settings-content">
            <div class="settings-content-item">
                <div class="create-form-element" id="scroll">
                    <label for="scroll1">Показывать посты с рейтингом выше - {{ settings.show_posts_with_rating_higher }}</label>
                    <vue-slider
                            @drag-end="changeData('show_posts_with_rating_higher')"
                            :formatter="v => `${v}`"
                            :width="'80%'"
                            :tooltip="'hover'"
                            :data="ratingData"
                            v-model="settings.show_posts_with_rating_higher"
                            id="scroll1"
                            :bg-style="{'background-color':'#F5F5F5'}"
                            :slider-style="{'background-color':'orange'}"
                            :process-style="{'background-color':'#C0C0C0'}"
                            :disabled="serverCall"
                    ></vue-slider>
                </div>
            </div>
            <div class="settings-content-item">
                <div class="create-form-element" id="scroll">
                    <label for="scroll2">Количество постов на страницу - {{ settings.posts_per_page }}</label>
                    <vue-slider
                            @drag-end="changeData('posts_per_page')"
                            :formatter="v => `${v}`"
                            :width="'40%'"
                            :tooltip="'hover'"
                            :data="data"
                            v-model="settings.posts_per_page"
                            id="scroll2"
                            :bg-style="{'background-color':'#F5F5F5'}"
                            :slider-style="{'background-color':'orange'}"
                            :process-style="{'background-color':'#C0C0C0'}"
                            :disabled="serverCall"
                    ></vue-slider>
                </div>
            </div>
            <div class="settings-content-item">
                <div class="settings-content-item-input">
                    <input type="checkbox" id="checkbox1" v-model="settings.is_paginated"
                           @change="changeData('is_paginated')"
                           :disabled="serverCall"/>
                    <label class="label-checkbox" for="checkbox1" id="label-checkbox1"></label>
                </div>
                <div class="settings-content-item-description">Постраничный просмотр</div>
            </div>
            <div class="settings-content-item">
                <div class="settings-content-item-input">
                    <input type="checkbox" id="checkbox2" v-model="settings.is_content_collapsed"
                           @change="changeData('is_content_collapsed')"
                           :disabled="serverCall"/>
                    <label class="label-checkbox" for="checkbox2" id="label-checkbox2"></label>
                </div>
                <div class="settings-content-item-description">Сворачивать содержимое постов</div>
            </div>
            <div class="settings-content-item">
                <div class="settings-content-item-input">
                    <input type="checkbox" id="checkbox3" v-model="settings.is_show_all_long_post"
                           @change="changeData('is_show_all_long_post')"
                           :disabled="serverCall"/>
                    <label class="label-checkbox" for="checkbox3" id="label-checkbox3"></label>
                </div>
                <div class="settings-content-item-description">Показывать полностью длинные посты</div>
            </div>
        </div>
        <div class="settings-title">Пост</div>
        <div class="settings-content">
            <div class="settings-content-item">
                <div class="settings-content-item-input">
                    <input type="checkbox" id="checkbox4" v-model="settings.is_tags_on_top"
                           @change="changeData('is_tags_on_top')"
                           :disabled="serverCall"/>
                    <label class="label-checkbox" for="checkbox4" id="label-checkbox4"></label>
                </div>
                <div class="settings-content-item-description">Показывать теги вверху поста</div>
            </div>
            <div class="settings-content-item">
                <div class="settings-content-item-input">
                    <input type="checkbox" id="checkbox5" v-model="settings.is_gif_paused_on_posts"
                           @change="changeData('is_gif_paused_on_posts')"
                           :disabled="serverCall"/>
                    <label class="label-checkbox" for="checkbox5" id="label-checkbox5"></label>
                </div>
                <div class="settings-content-item-description">Ставить GIF на паузу в постах</div>
            </div>
            <div class="settings-content-item">
                <div class="settings-content-item-input">
                    <input type="checkbox" id="checkbox6" v-model="settings.is_show_same_posts"
                           @change="changeData('is_show_same_posts')"
                           :disabled="serverCall"/>
                    <label class="label-checkbox" for="checkbox6" id="label-checkbox6"></label>
                </div>
                <div class="settings-content-item-description">Показывать похожие посты под комментариями</div>
            </div>
        </div>

        <div class="settings-title">Комментарии</div>
        <div class="settings-content">
            <div class="settings-content-item">
                <div class="create-form-element" id="scroll">
                    <label for="scroll3">Показывать комментарии с рейтингом выше - {{ settings.show_comments_with_rating_higher
                        }}</label>
                    <vue-slider
                            @drag-end="changeData('show_comments_with_rating_higher')"
                            :formatter="v => `${v}`"
                            :width="'40%'"
                            :tooltip="'hover'"
                            :data="data"
                            v-model="settings.show_comments_with_rating_higher"
                            id="scroll3"
                            :bg-style="{'background-color':'#F5F5F5'}"
                            :slider-style="{'background-color':'orange'}"
                            :process-style="{'background-color':'#C0C0C0'}"
                            :disabled="serverCall"
                    ></vue-slider>
                </div>
            </div>
            <div class="settings-content-item">
                <div class="create-form-element" id="scroll">
                    <label id="scroll4">Сворачивать вложенные комментарии после ур. {{ settings.collapse_comment_after_level }}</label>
                    <vue-slider
                            @drag-end="changeData('collapse_comment_after_level')"
                            :formatter="v => `${v}`"
                            :width="'40%'"
                            :tooltip="'hover'"
                            :data="data"
                            v-model="settings.collapse_comment_after_level"
                            id="scroll4"
                            :bg-style="{'background-color':'#F5F5F5'}"
                            :slider-style="{'background-color':'orange'}"
                            :process-style="{'background-color':'#C0C0C0'}"
                            :disabled="serverCall"
                    ></vue-slider>
                </div>
            </div>
            <div class="settings-content-item">
                <div class="settings-content-item-input">
                    <input type="checkbox" id="checkbox12" v-model="settings.is_gif_paused_on_comments"
                           @change="changeData('is_gif_paused_on_comments')"
                           :disabled="serverCall"/>
                    <label class="label-checkbox" for="checkbox12" id="label-checkbox12"></label>
                </div>
                <div class="settings-content-item-description">Ставить GIF на паузу в комментариях</div>
            </div>
        </div>

        <div class="settings-title">Другое</div>
        <div class="settings-content">
            <div class="settings-content-item">
                <div class="settings-content-item-input">
                    <input type="checkbox" id="checkbox7" v-model="settings.is_show_scroll_top"
                           @change="changeData('is_show_scroll_top')"
                           :disabled="serverCall"/>
                    <label class="label-checkbox" for="checkbox7" id="label-checkbox7"></label>
                </div>
                <div class="settings-content-item-description">Показывать полосу прокрутки наверх</div>
            </div>
            <div class="settings-content-item">
                <div class="settings-content-item-input">
                    <input type="checkbox" id="checkbox8" v-model="settings.is_settings_on_menu"
                           @change="changeData('is_settings_on_menu')"
                           :disabled="serverCall"/>
                    <label class="label-checkbox" for="checkbox8" id="label-checkbox8"></label>
                </div>
                <div class="settings-content-item-description">Вынести настройку в меню</div>
            </div>
            <div class="settings-content-item">
                <div class="settings-content-item-input">
                    <input type="checkbox" id="checkbox9" v-model="settings.is_disable_ads"
                           @change="changeData('is_disable_ads')"
                           :disabled="serverCall"/>
                    <label class="label-checkbox" for="checkbox9" id="label-checkbox9"></label>
                </div>
                <div class="settings-content-item-description">Отключить рекламу<i class="adv"></i></div>
            </div>
            <div class="settings-content-item">
                <div class="settings-content-item-input">
                    <input type="checkbox" id="checkbox10" v-model="settings.is_night_mode"
                           @change="changeData('is_night_mode')"
                           :disabled="serverCall"/>
                    <label class="label-checkbox" for="checkbox10" id="label-checkbox10"></label>
                </div>
                <div class="settings-content-item-description">Включить ночную тему<i class="night"></i></div>
            </div>
        </div>
    </div>
</template>


<script>
    import vueSlider from 'vue-slider-component'
    import Flash from '../../services/Flash'

    export default {

        components: {vueSlider},

        data() {
            return {
                settings: {
                    show_posts_with_rating_higher: 50,
                    posts_per_page: 50,
                    is_paginated: 0,
                    is_content_collapsed: 0,
                    is_show_all_long_post: 0,
                    is_tags_on_top: 0,
                    is_gif_paused_on_posts: 0,
                    is_show_same_posts: 0,
                    show_comments_with_rating_higher: 0,
                    collapse_comment_after_level: 3,
                    is_gif_paused_on_comments: 0,
                    is_show_scroll_top: 0,
                    is_settings_on_menu: 0,
                    is_disable_ads: 0,
                    is_night_mode: 0,
                },
                data: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                ratingData:[-15, -10, -5, 0, 5, 10, 15],
                serverCall: false
            }
        },
        methods: {
            changeData(property) {
                this.serverCall = true;

                axios.post('/api/users/change', {property: property, elem: this.settings[property]})
                    .then(res => {
                            this.serverCall = false;
                            if (res.data.success) {
                                Flash.success('Изменения сохранены');
                            }
                        }
                    )
                    .catch(err => {
                        this.serverCall = false;
                        Flash.error(err);
                    })
            }
        },
        created() {
            axios.get('/api/users')
                .then(res => {
                    this.settings = res.data.data;
                })
                .catch(err => {
                    Flash.error('Ошибка');
                })
        }
    }
</script>


<style scoped>
    #scroll {
        width: 35% !important;
    }

    #scroll label {
        width: 150% !important;
        color: black !important;
    }
    .night #scroll label {
        width: 150% !important;
        color: lightgrey !important;
    }
    .night .settings-content-item-description{
        color: lightgrey !important;
    }
</style>