<template>
    <div id="content-loader" class="create-form-element" v-if="isActive">
        <div class="content-loader">
            <div class="content-loader-text" @click.prevent="addText">Текст</div>
            <div class="content-loader-image" @click.prevent="addImage">Картинка</div>
            <div class="content-loader-video" @click.prevent="addVideo">Видео</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['index'],

        data() {
            return {
                isActive: true
            }
        },

        methods: {
            disable() {
                this.isActive = false;
            },

            addText() {
                this.$emit('addChunk')
            },

            addImage() {
                this.$emit('addImage')
            },

            addVideo() {
                this.$emit('addVideo')
            },

            getIndex() {
                return this.index;
            }
        }
    }
</script>

<style scoped>

</style>