<template>
    <div id="list" v-infinite-scroll="loadMore" :infinite-scroll-disabled="isProceed" :infinite-scroll-distance="10">

        <slot name="filter"></slot>

        <div v-if="items.length">
            <post
                    :ref="'post-' + index"
                    :id="'post-' + index"
                    v-for="(post, index) in items"
                    :key="post.id"
                    :data="post"
                    :index="index"
                    :show="false"
            ></post>
        </div>
        <div v-else class="post-block" style="margin-top: 15px">
            <p style="text-align: center;margin-bottom: 0;font-size: 21px">
                По данному запросу ничего не найдено.
            </p>
        </div>
    </div>
</template>

<script>
    import {EventBus} from '../../services/EventBus.js'
    import BaseList from '../../mixins/BaseList'

    export default {
        props: ['menu', 'category', 'apiUrl'],

        mixins: [BaseList],

        data() {
            return {
                api: this.apiUrl,
                filter: {
                    menu: this.menu,
                    category: this.category,
                    date: null
                }
            }
        },

        created() {
            EventBus.$on('dateChanged', this.changeDate);
            EventBus.$on('postsStateChanged', this.getData);
            EventBus.$on('collapsePost', this.toggleCollapse);
        },


        methods: {
            changeDate(date) {
                this.filter.date = date;
                this.getData();
            },

            toggleCollapse(index) {
                this.$refs['post-' + index][0].toggleCollapse()
            }
        }
    }
</script>

<style scoped>

</style>