<template>
    <div class="container-content">

        <div class="container-content-title">{{ post.title }}</div>

        <div v-for="chunk in post.chunks" :class="defineChunk(chunk.type)">
            <img v-if="chunk.type === 'image'" :src="chunk.content" alt="photo">
            <p v-if="chunk.type === 'text'" v-html="chunk.content"></p>
            <youtube
                    v-if="chunk.type === 'video'"
                    :video-id="chunk.content"
                    player-width="100%"
                    player-height="400px"
            ></youtube>
        </div>

        <div class="container-content-heshtag">
            <div v-for="tag in post.tags">
                <a :href="tag.show" target="_blank" style="text-decoration:none;">{{ tag.name }}</a>
            </div>
        </div>

        <div class="container-content-footer">
            <div class="footer-btn">
                <a style="text-decoration: none">
                    <button class="comment">{{ post.comments_count || 0 }}</button>
                </a>
            </div>

            <div v-if="post.community" class="footer-person">
                <div class="footer-person-photo"><img :src="post.user.avatar"></div>
                <div class="footer-person-name">
                    <div>{{post.user.name}}</div>
                    <div>{{ post.ago }} в
                        <a :href="post.community.show">{{ post.community.name }}</a>
                    </div>
                </div>
            </div>

            <div v-else class="footer-person">
                <div class="footer-person-photo"><img :src="post.user.avatar"></div>
                <div class="footer-person-name">
                    <div>{{ post.user.name }}</div>
                    <div>{{ post.ago }}</div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        props: ['data'],

        data() {
            return {
                post: this.data,
            }
        },

        methods: {
            defineChunk(type) {
                switch (type) {
                    case 'image':
                        type = 'photo';
                        break;
                    case 'text':
                        type = 'text';
                        break;
                    case 'video':
                        type = 'photo';
                        break;
                }
                return 'container-content-' + type
            },
        }
    }
</script>

<style scoped>

</style>