<template>
    <intersect :root="getRoot" :threshold="[1]" @enter="postDisplayed">
        <div v-show="!isHiddenState" class="container-content">

            <post-like :id="post.id" :post-rating="post.rating"></post-like>

            <a :href="post.show">
                <div class="container-content-title">{{ post.title }}
                    <a v-if="post.editable" :href="post.edit" style="float: right; text-decoration: none">
                        <i class="fa fa-edit"></i>
                        edit
                    </a>
                </div>
            </a>

            <div v-show="!isCollapsedState">
                <div v-for="(chunk, index) in post.chunks" :class="defineChunk(chunk.type, index)">
                    <img v-if="chunk.type === 'image'" :src="chunk.content" alt="photo">
                    <div style="word-wrap: break-word;" v-if="chunk.type === 'text'" v-html="chunk.content"></div>
                    <youtube
                            v-if="chunk.type === 'video'"
                            :video-id="chunk.content"
                            player-width="100%"
                            player-height="400px"
                    ></youtube>
                </div>
                <div v-if="show !== undefined && hasText" class="container-content-text">
                    <div class="text-hidden">
                        <button v-if="isCollapsed" @click="toggleCollapse" class="show-button">Показывать
                            полностью
                        </button>
                        <button v-else @click="toggleCollapse" class="show-button">Скрыть</button>
                    </div>
                </div>
            </div>

            <div class="container-content-heshtag">
                <div v-for="tag in post.tags">
                    <a :href="tag.show" target="_blank" style="text-decoration:none;">{{ tag.name }}</a>
                </div>
            </div>

            <div class="container-content-footer">
                <div class="footer-btn">
                    <a style="text-decoration: none" :href="post.show">
                        <button class="comment">{{ post.comments_count || 0 }}</button>
                    </a>

                    <post-save :id="post.id" :saved="post.saveable"></post-save>

                    <button class="forward"></button>
                </div>


                <div v-if="post.community" class="footer-person">
                    <div class="footer-person-photo"><img :src="post.user.avatar"></div>
                    <div class="footer-person-name">
                        <a :href="post.user.show">
                            <div>{{post.user.name}}</div>
                        </a>
                        <div>{{ post.ago }} в
                            <a :href="post.community.show">{{ post.community.name }}</a>
                        </div>
                    </div>
                </div>

                <div v-else class="footer-person">
                    <div class="footer-person-photo"><img :src="post.user.avatar"></div>
                    <div class="footer-person-name">
                        <a :href="post.user.show">
                            <div>{{ post.user.name }}</div>
                        </a>
                        <div>{{ post.ago }}</div>
                    </div>
                </div>

            </div>
        </div>
    </intersect>
</template>

<script>
    import {EventBus} from "../../services/EventBus";
    import Intersect from "vue-intersect";
    import PostKeyNavigation from "../../mixins/PostKeyNavigation";

    export default {
        components: {Intersect},

        mixins: [PostKeyNavigation],

        props: ['data', 'index', 'show'],

        data() {
            return {
                post: this.data,
                isCollapsed: false,
            }
        },

        created() {
            EventBus.$on('showPost', this.showPost);
            EventBus.$on('closePost', this.closePost);
            EventBus.$on('commentAdded', () => {
                this.post.comments_count++
            });
        },

        computed: {
            isCollapsedState() {
                return this.data.viewed && this.data.viewed_posts_state === 'collapse' && this.show !== undefined
            },

            isHiddenState() {
                return (this.isHideViewed || this.isHideErotic) && this.show !== undefined
            },

            isHideErotic() {
                return this.data.erotic && this.data.erotic_posts_state === 'hide'
            },

            isHideViewed() {
                return this.data.viewed && this.data.viewed_posts_state === 'hide'
            },

            hasText() {
                return this.post.chunks.some((v, i) => {
                    return v.type === 'text' && i !== 0;
                });
            },

            getRoot() {
                return document.getElementById('list')
            }
        },

        methods: {
            defineChunk(type, index) {
                switch (type) {
                    case 'image':
                        type = 'photo';
                        break;
                    case 'text':
                        type = 'text';
                        break;
                    case 'video':
                        type = 'photo';
                        break;
                }

                if (index >= 1) {
                    type += ' collapsible-' + this.post.id
                }

                return 'container-content-' + type
            },

            postDisplayed() {
                EventBus.setDisplayedPost(this.post.id);
                EventBus.setIndex(this.index);

                if (this.show !== undefined) {
                    axios.post('/api/users/posts/viewed', {post_id: this.post.id});
                }
            },

            showPost(id) {
                if (id !== this.post.id) return;

                window.open(this.post.show + '#comments', '_blank')
            },

            closePost() {
                if (window.location.hash === '#comments') {
                    window.close();
                }
            },

            toggleCollapse() {
                [...document.getElementsByClassName('collapsible-' + this.post.id)]
                    .forEach((v) => {
                        v.classList.toggle('collapsed');
                    });

                this.isCollapsed = !this.isCollapsed;
            }
        },
    }
</script>

<style scoped>
    .container-content-title {
        position: unset;
    }

    .collapsed {
        display: none;
    }
</style>